/* Basic reset */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

/* BASIC CSS REST */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

/* BASIC CSS RESET ENDS */

body {
    background-color:  hsl(30, 38%, 92%);
    font-size: 14px;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #7E7C7F;
}

.card-container {
    width: 700px;
    height: 500px;
    background-color: hsl(60, 100%, 100%);
    /* display: grid; */
    display: flex;
    flex-direction: row;
    /* grid-template-columns: 1fr 1fr; */
    border-radius: 10px;
    box-shadow: 2px 2px 12px 1px hsla(33, 28%, 81%, 0.682);
}

.perfume-image {
    /* grid-column: 1 / 2; */
    width: 50%;
    background-image: url(image-product-desktop.jpg);
    background-size: cover;
    border-radius: 10px 0 0 10px;

}

.description {
    width: 50%;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.label {
    font-family: Montserrat;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    font-size: 0.8rem;
}

.main-heading {
    font-family: Fraunces, serif;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 2.5rem;
    color:  hsl(212, 21%, 14%);
}

.about-text {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4rem;
    color: hsl(228, 12%, 48%);
}

.prices {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.prices .current-price {
    color: hsl(158, 36%, 37%);
    font-family: Fraunces, serif;
    font-size: 2.7rem;
}

.prices .previous-price {
    color: hsl(228, 12%, 48%);
    font-family: Montserrat;
    font-size: 1rem;
    text-decoration: line-through;
}

.btn {
    display: flex;
    justify-content: center;
    gap: 0.7rem;
    background-color: hsl(158, 36%, 37%);
    color: #fff;
    padding: 1.2rem;
    border: none;
    font-family: Montserrat;
    font-weight: 700;
    border-radius: 0.5rem;
}

.icon-cart {
    color: #fff;
}

/*  FOR MOBILE-DEVICE   */

@media screen and (max-width: 576px) {

    body {
            background-color: hsl(30, 38%, 92%);
            font-size: 14px;
            min-height: 100vh;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            color: #7E7C7F;
            padding: 2rem;
        }

    .card-container {
        width: 320px;
        height: 600px;
        background-color: hsl(60, 100%, 100%);
       /*  display: grid; */
        display: flex;
        flex-direction: column;
        /* grid-template-columns: 1fr; */
        box-shadow: 2px 2px 12px 1px hsla(33, 28%, 81%, 0.682);
        border-radius: 10px;
    }

    .perfume-image {;
        height: 40%;
        width: 100%;
        background-image: url(image-product-mobile.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        border-radius: 10px 10px 0 0;
    }

    .label {
        font-family: Montserrat;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.3rem;
        font-size: 0.7rem;
    }

    .description {
        width: 100%;
        flex-grow: 1;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .main-heading {
        font-family: Fraunces, serif;
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 1.8rem;
        color: hsl(212, 21%, 14%);
    }

    .about-text {
        font-family: Montserrat;
        font-weight: 500;
        font-size: 0.8rem;
        line-height: 1.2rem;
        color: hsl(228, 12%, 48%);
    }

    .prices .current-price {
        color: hsl(158, 36%, 37%);
        font-family: Fraunces, serif;
        font-size: 2rem;
    }

    .prices .previous-price {
        color: hsl(228, 12%, 48%);
        font-family: Montserrat;
        font-size: 0.8rem;
        text-decoration: line-through;
    }

    .btn {
        display: flex;
        justify-content: center;
        gap: 0.7rem;
        background-color: hsl(158, 36%, 37%);
        color: #fff;
        padding: 1rem;
        border: none;
        font-family: Montserrat;
        font-weight: 700;
        border-radius: 0.5rem;
    }

}